.checkout-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}
.checkout-form input {
    margin: 15px auto;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 75%;
}
.error {
    color: red;
}
